*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
eggs/
lib/
lib66/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.manifest
*.mo
*.pot
*.log
.coverage
.tox/
.mypy_cache/
.pytest_cache/
htmlcov/
.DS_Store
code.txt
